
1. Cargar el dataset
ðŸ’¡ Pista Si hacemos la carga del dataset sin el parÃ¡metro encoding nos puede dar error. AquÃ­ tenÃ©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('attacks.csv')
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

2.Haced una exploraciÃ³n bÃ¡sica del DataFrame:
 
 - Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.
 - Cambiad el nombre de las columnas para que todas estÃ©n en minÃºsculas y reemplazad los espacios por _.
 - Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order,  - Investigator or Source, pdf, href formula.
 - Establece la columna Case Number como Ã­ndice del DataFrame.

In [27]:
# Â¿CuÃ¡ntas filas y columnas tiene el DataFrame?
df.shape

(6114, 22)

In [30]:
# Mostrad las primeras cinco filas 
df.head()

   Unnamed: 0 Case Number    Year        Type    Country             Area  \
0           0  2018.06.25  2018.0     Boating        USA       California
1           1  2018.06.18  2018.0  Unprovoked        USA          Georgia
2           2  2018.06.09  2018.0     Invalid        USA           Hawaii
3           3  2018.06.08  2018.0  Unprovoked  AUSTRALIA  New South Wales
4           4  2018.06.04  2018.0    Provoked     MEXICO           Colima

                         Location     Activity             Name Sex   ...  \
0     Oceanside, San Diego County     Paddling      Julie Wolfe    F  ...
1  St. Simon Island, Glynn County     Standing  AdysonÂ McNeely     F  ...
2                    Habush, Oahu      Surfing      John Denges    M  ...
3              Arrawarra Headland      Surfing             male    M  ...
4                        La Ticla  Free diving   Gustavo Ramos     M  ...

          Species           Investigator or Source                       pdf  \
0      White shark                R. Collier, GSAF      2018.06.25-Wolfe.pdf
1              NaN  K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2              NaN  K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3        2 m shark                  B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4  Tiger shark, 3m                       A .Kipper      2018.06.04-Ramos.pdf

                                                                     href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf
1    http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf
2     http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf
3  http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf
4      http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf

                                                                             href  \
0      http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf
1    http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf
2     http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf
3  http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf
4      http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf

  Case Number.1 Case Number.2 original order Unnamed: 22  Unnamed: 23
0    2018.06.25    2018.06.25         6303.0         NaN          NaN
1    2018.06.18    2018.06.18         6302.0         NaN          NaN
2    2018.06.09    2018.06.09         6301.0         NaN          NaN
3    2018.06.08    2018.06.08         6300.0         NaN          NaN
4    2018.06.04    2018.06.04         6299.0         NaN          NaN

[5 rows x 22 columns]
      Unnamed: 0   Case Number    Year          Type    Country  \
6109        6127  1804.02.26.R  1804.0          Boat  AUSTRALIA
6110        6128    1803.05.17  1803.0  Sea Disaster        USA
6111        6129    1803.03.00  1803.0    Unprovoked  AUSTRALIA
6112        6130  1802.04.13.R  1802.0    Unprovoked      INDIA
6113        6131  1801.12.18.R  1801.0      Provoked        NaN

                   Area                          Location  \
6109    New South Wales    Georges Head, off Port Jackson
6110     South Carolina                    Off Charleston
6111  Western Australia  Hamelin Harbour, at Faure Island
6112                NaN                               NaN
6113                NaN                               NaN

                             Activity                             Name Sex   \
6109                              NaN                             boat  NaN
6110                              NaN                    Captain Jones    M
6111                              NaN  M. Lefevre & a sailor (rescuer)    M
6112                              NaN                              NaN  NaN
6113  Standing on landed shark's tail                 Stephen Pettigew    N

      ...   Species   \
6109  ...        NaN
6110  ...        NaN
6111  ...        NaN
6112  ...        NaN
6113  ...  12' shark

                                          Investigator or Source  \
6109                                  Sydney Gazette, 2/26/1804
6110                                     Evening Post, 6/13/1803
6111  F.  Peron ref in G.P. Whitley (Fishes of Australia), p.13
6112                           Evening Post (New York) 4/13/1802
6113                                The Evening Post, 12/18/1801

                                  pdf  \
6109  1804.02.26-boat-GeorgesHead.pdf
6110             1803.05.17-Jones.pdf
6111           1803.03.00-Lefevre.pdf
6112           1802.04.13.R-India.pdf
6113       1801.12.18.R-Pettigrew.pdf

                                                                               href formula  \
6109  http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf
6110             http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf
6111           http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf
6112           http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf
6113       http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf

                                                                                       href  \
6109  http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf
6110             http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf
6111           http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf
6112           http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf
6113       http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf

     Case Number.1 Case Number.2 original order Unnamed: 22  Unnamed: 23
6109  1804.02.26.R  1804.02.26.R          176.0         NaN          NaN
6110    1803.05.17    1803.05.17          175.0         NaN          NaN
6111    1803.03.00    1803.03.00          174.0         NaN          NaN
6112  1802.04.13.R  1802.04.13.R          173.0         NaN          NaN
6113  1801.12.18.R  1801.12.18.R          172.0         NaN          NaN

[5 rows x 22 columns]

In [29]:
# y las Ãºltimas cinco filas del DataFrame.
df.tail()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,"F. Peron ref in G.P. Whitley (Fishes of Australia), p.13",1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [31]:
# Mostrad 2 filas al azar del dataframe
df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5257,5271,1919.01.17,1919.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle Beach,Swimming,Douglas Arkell,M,...,3.7 m to 4.3 m [12' to 14'] shark,"V.M. Coppleson.N13. (1933); V.M. Coppleson (1958), p.76 & 229",1919.01.17-Arkell.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1919.01.17-Arkell.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1919.01.17-Arkell.pdf,1919.01.17,1919.01.17,1032.0,NaN,NaN
3440,3450,1968.12.00,1968.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,NaN,NaN,Jasper Gwynn,M,...,Questionable incident,H.D. Baldridge (1994) SAF Case #1587; Unable to authenticate,1968.12.00-NV-Gwynn.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1968.12.00-NV-Gwynn.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1968.12.00-NV-Gwynn.pdf,1968.12.00,1968.12.00,2853.0,NaN,NaN

In [32]:
#Â¿CuÃ¡l es el nombre de las columnas del DataFrame?
df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [44]:
# Â¿CuÃ¡les son los principales estÃ¡disticos del DataFrame? Mostrad por separado las variables categÃ³ricas 
# y las variables numÃ©ricas.

d = df.describe()
d

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [47]:
d.index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [62]:
d['Unnamed: 0'].value_counts()

6114.000000    1
3065.554629    1
1769.652139    1
0.000000       1
1534.250000    1
3066.500000    1
4596.750000    1
6131.000000    1
Name: Unnamed: 0, dtype: int64

In [63]:
d['Year'].value_counts()

6114.000000    1
1968.831207    1
43.745920      1
1801.000000    1
1946.000000    1
1980.000000    1
2005.000000    1
2018.000000    1
Name: Year, dtype: int64

In [64]:
d['original order'].value_counts()

6114.000000    1
3237.445044    1
1769.652633    1
172.000000     1
1706.250000    1
3236.500000    1
4768.750000    1
6303.000000    1
Name: original order, dtype: int64

In [79]:
# Â¿CuÃ¡l es el porcentaje de valores nulos en cada columna?
(df.isna().sum() / 6114)*100

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

In [80]:
# Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un
# diccionario. Uno para cada variable.